* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#e6f2ff;
    color: #333;
    padding: 20px;
}

h1 {
    color: #0a58ca;
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin: 15px 0;
}

p {
    margin: 15px 0;
    line-height: 1.6;
}

img {
    display: block;
    margin: 20px auto;
}

hr {
    margin: 25px 0;
}

ul {
    margin-left: 30px;
}
